# Dependencies
node_modules/

# Production build
dist/
build/

# Environment variables
.env
.env.*
!.env.example

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Docker
#docker-compose.yml

# Misc
*.swp